@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

@font-face {
  font-family: headerVal;
  src: url(../fonts/HelloValentina.ttf);
}

* {
	padding: 0;
	margin: 0;
}

/* HEADER START */
#main_header_container .image_carry > img{
    width: 100%;
}

#main_header_container .top_bar{
    display: block;
    font-family: headerVal;
}

.left_info{
    padding-left: 5px;
    float: left;
}

.right_info{
    padding-right: 15px ;
    float: right;
    font-size: x-large;
}

.right_info > i {
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 8px 6px -6px black;
}
/* HEADER END */




/* CONTENT START */
#marriage_content .main_details img {
    width: 100%;
    height: auto;
}

#title-container{
    position: relative;
    text-align: center;
    color: white;
}

#centerdata{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

#centerdata #wedding-title{
    font-family: headerVal;
    font-size: 4rem;
    text-shadow: 2px 2px #000000;
}


.section_header h1{
    font-family: 'Sansita Swashed', cursive;
}
/* CONTENT END */

/* FOOTER START */
.footer_image_carry > img{
  width: 100%;
}

.footer_message{
    font-family: headerVal;
}
/* FOOTER END */