@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

@font-face {
  font-family: headerVal;
  src: url(../fonts/HelloValentina.ttf);
}

* {
	padding: 0;
	margin: 0;
}

/* HEADER START */
#main_header_container .image_carry > img{
    width: 100%;
    height: 50%;
}

#main_header_container .top_bar{
    display: block;
    font-family: headerVal;
}

.left_info{
    padding-left: 5px;
    float: left;
}


/* HEADER END */




/* CONTENT START */
#marriage_content .main_details img {
    width: 100%;
    height: auto;
}

#title-container{
    position: relative;
    text-align: center;
    color: white;
}

/* #centerdata{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* Media Query For Tablet */
@media only screen and (min-width: 360px) {
	#centerdata{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}
}
/* End Media Query For Tablet */
@media only screen and (min-width: 1200px) {
#centerdata{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}



#centerdata #wedding-title{
    font-family: 'Lobster', cursive;
    font-size: 5vw;
    text-shadow: 2px 2px #000000;
}

#centerdata #wedding-date{
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    text-shadow: 2px 2px #000000;
}

#centerdata #wedding-location{
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    text-shadow: 2px 2px #000000;
}


.section_header h1{
    font-family: 'Sansita Swashed', cursive;
}
/* --------------------- */
#marriage_details,#reception_details,.venue_details,.important_details{
    padding: 12px;
    border-radius: 3rem;
    margin: 2vw;
    border: 1px black;
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
}

#muhurtam-data, #reception-data{
    font-family: 'Ropa Sans', sans-serif;
}

#muhurtam-image > img,#reception-image > img {
    width: 20%;
    height: auto; 
}

#message{
     font-family: 'Ropa Sans', sans-serif;
}

#venue_details h3{
    font-family: 'Ropa Sans', sans-serif;
    text-decoration: underline;
}

#venue_details h5{
    font-family: 'Ropa Sans', sans-serif;
}

/* -------------------- */



ul li
{
    font-family: 'Ropa Sans', sans-serif;
    list-style-position: inside;
    padding: 8px;
    list-style-type: disc;
    position: relative;
    height: 3em;
    color: #000000;
}


/* li{
    padding-left: 12px;
    list-style-type: disc;
    list-style-position: inside;
} */

/* CONTENT END */

/* FOOTER START */
#main_footer_container center.trans{
    font-family: 'Ropa Sans', sans-serif;
}

.footer_image_carry > img{
  width: 100%;
}

.footer_message{
    font-family: headerVal;
}
/* FOOTER END */