@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
	padding: 0;
	margin: 0;
}
@font-face {
  font-family: headerVal;
  src: url(../fonts/HelloValentina.ttf);
}
a {
	text-decoration: none;
}

/* HEADER AREA STYLE START */
#header {
    position: fixed;
    background-color: #485563;
    width: 100vw;
    height: auto;
    padding: 5px;
}
#header .header-container h1{
    font-size: x-large;
    font-weight: 500;
    font-family: headerVal;
    color: white;
}
/* HEADER AREA STYLE END */
#main_content{
    padding-top: 39px;
}

#bgscape img{
    width: 100vw;
    height:auto;
}


.hero-container{
    font-size: xx-large;
    font-weight: 500;
    font-family: headerVal;
}


/* FOOTER AREA STYLE START */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer-container {
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer p {
    font-family: headerVal;
    src: url(../fonts/HelloValentina.ttf);
    position: relative;
    left:50%;
    transform: translateX(-50%);
	color: white;
    font-size: 1rem;
}
/* FOOTER AREA STYLE END */



